# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CandyLand - Em's remix!.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\emili\Documents\GitHub\GameProgramming\Candyland_remix\CandyLand - Em's remix!\.idea\.idea.CandyLand - Em's remix!\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
